<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Medical Assessment Excel Files</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Generate Assessments Tool</h1>
        
        <div class="introduction">
            <p>This application allows you to efficiently generate assessment forms using Excel (.xlsx) format.</p>
            <p>Please ensure that you use the provided Excel template.</p>
            <p>Once you've filled out your assessments, click on the "Choose Files" button to select your files, and then hit the "Upload" button to process them.</p>
            <p>Only include values for assessments to be included as blank columns will not have assessments generated.</p>
        </div>

        <div class="template-download">
            <a href="/download-template" class="download-btn">Download Excel Template</a>
        </div>

        <form action="/upload" method="post" enctype="multipart/form-data" id="upload-form">
            <label for="file-input" class="choose-files-btn">Choose Files</label>
            <input type="file" name="files[]" accept=".xlsx" multiple class="file-input" id="file-input">
            <input type="submit" value="Upload" class="upload-btn">
        </form>

        <div class="file-preview" id="file-preview"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
